<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="keywords" content="your tags">
    <meta name="description" content="150 words">
    <link rel="stylesheet" href="css/font.css">
    <title></title>
</head>
<body>

<div class="wrapper">

    <header>
        <nav style="font-size: 1rem;width: 5rem;height: 2rem;text-align: center;vertical-align: middle;">aaaa</nav>
    </header>

    <div id="content">

        <section></section>
        <section></section>
        <section></section>

    </div>

    <footer></footer>

</div>

<script></script>
</body>
</html>