@import "../less/common.less";

body{
    min-width: 1200px;
}

.banner{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    .carou{
        width: 100%;
        height: auto;
        position: relative;
        .displayIBCon;
        li{
            width: 100%;
            height: auto;
            .displayIBSub;
        }
    }
    .searchBox{
        position: absolute;
        margin-left: -600px;
        left: 50%;
        top: 50%;
        margin-top: -130px;
        width: 500px;
        height: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        .rounded-corners(3px);
        background-image: url(../../image/index/tab_bg.png);
        .searchTab{
            position: relative;
            width: 100%;
            border-bottom: 1px solid #ddd;
            margin-bottom: 30px;
            li{
                list-style: none;
                width: 100px;
                height: 40px;
                color: #fff;
                text-align: center;
                line-height: 40px;
                vertical-align: middle;
                .displayIB;
                .fontSize(0.8);
                margin-left: -3px;
                cursor: pointer;
            }
            li:first-child{
                margin-left: 30px;
            }
            li.active{
                color: #166BAB;
            }
            .tabActive{
                position: absolute;
                top: 40px;
                width: 100px;
                height: 7px;
                left: 30px;
            }
        }
        #searchTab0{
            display: block;
        }
        #searchTab1,#searchTab2{
            display: none;
        }
        .searchInput{
            width: 400px;
            height: 50px;
            margin: 20px auto;
            .fontSize(0.9);
            color: #fff;
            .searchSelect{
                .displayIB;
                position: relative;
                width: 300px;
                height: 40px;
                padding-left: 10px;
                line-height: 40px;
                border: 1px solid #ddd;
                cursor: pointer;
                .fontSize(0.8);
                color: #ddd;
                .rounded-corners;
                white-space: nowrap;
                .input{
                    width: 280px;
                    border: none;
                    outline: none;
                    .fontSize(0.8);
                    color: #666;
                }
                .searchIcon{
                    position: absolute;
                    .displayIB;
                    width: 15px;
                    height: 20px;
                    right: 5px;
                    top: 10px;
                }
            }
        }
        .searchBtn{
            width: 120px;
            height: 35px;
            .rounded-corners(3px);
            background: #166BAB;
            color: #fff;
            text-align: center;
            line-height: 35px;
            vertical-align: middle;
            margin: 20px auto;
            .fontSize(0.8);
            cursor: pointer;
        }
    }
    .playBtn{
        position: absolute;
        left: 50%;
        margin-left: 480px;
        bottom: 20px;
        width: 100px;
        height: 100px;
        cursor: pointer;
        z-index: 10;
    }
}
.selectBox{
    width: 310px;
    height: auto;
    .fontSize(0.6);
    line-height: 25px;
    vertical-align: middle;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    display: none;
    z-index: 100;
    .selectTip{
        height: 25px;
        width: auto;
        padding-left: 5px;
    }
    .selectTab{
        width: auto;
        height: 25px;
        border-bottom: 1px solid #ddd;
        padding-left: 10px;
        li{
            .displayIB;
            list-style: none;
            height: 25px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
        }
        li.active{
            border-bottom: 1px solid #26b4d3;
            color: #26b4d3;
        }
    }
    .selectList{
        position: relative;
        margin-top: 2px;
        margin-left: 10px;
        width: 290px;
        height: auto;
        background: #fff;
        display: none;
        li{
            list-style: none;
            height: 20px;
            .displayIB;
            width: auto;
            white-space: nowrap;
            padding: 0 10px;
            line-height: 20px;
            vertical-align: middle;
            border: none;
            cursor: pointer;
            .rounded-corners(3px);
        }
        li.tc{
            color: #FFA939;
        }
        li.activeT{
            background: #26b4d3;
            color: #fff;
        }
    }
}
.videoBoxBack{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    .videoBox{
        position: absolute;
        top: 50%;
        margin-top: -225px;
        left: 50%;
        margin-left: -400px;
        width: 800px;
        height: 450px;
    }
    .close{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -245px;
        margin-left: 400px;
        cursor: pointer;
    }
}
.servicePic{
    width: 100%;
    height: auto;
    background: #F7F7F7;
    position: relative;
    z-index: -1;
    .con1{
        width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
.servicePic2{
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    z-index: -1;
    border-bottom: 1px solid #ddd;
    .con1{
        width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
.serRecommend{
    background: #F1F1F1;
    border-bottom: 1px solid #ddd;
    .serTitle{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .serCarousel{
        position: relative;
        width: 1100px;
        height: 345px;
        overflow: hidden;
        margin: 0 auto;
        padding-bottom: 50px;
        .carousel{
            position: absolute;
            width: 2220px;
            li{
                .displayIB;
                width: 1093px;
                height: 344px;
                margin-left: 4px;
            }
        }
    }
}
.serPic{
    width: 1200px;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #ddd;
}