<section class="d5-banner">
</section>
<div class="user">
    <span class="avator"><img src="img/a.jpg"></span>
    <span class="username">刘杭</span>
</div>
<section class="d5-content">
    <div class="title">
        <div class="avator"><img src="img/a.jpg"></div>
        <div class="text">
            <p><span>刘杭</span></p>
            <p>过两天开party，都有谁来？</p>
        </div>
    </div>
    <div class="time">刚刚</div>
    <div class="arrow"></div>
    <div class="chat">
        <p class="friend">苍井空 , 陈冠希 , 杨幂</p>
        <p><span>杨幂：</span>好哇我参加~</p>
        <p><span>苍井空：</span>我带几个姐妹去。</p>
    </div>
</section>
<section class="d5-content">
    <div class="title">
        <div class="avator"><img src="img/a.jpg"></div>
        <div class="text">
            <p><span>刘杭</span></p>
            <p>过两天开party，都有谁来？</p>
        </div>
    </div>
    <div class="time">2分钟前</div>
    <div class="arrow"></div>
    <div class="chat">
        <p class="friend">苍井空 , 陈冠希 , 杨幂</p>
        <p><span>杨幂：</span>好哇我参加~</p>
        <p><span>苍井空：</span>我带几个姐妹去。</p>
    </div>
</section>
<section class="d5-content">
    <div class="title">
        <div class="avator"><img src="img/a.jpg"></div>
        <div class="text">
            <p><span>刘杭</span></p>
            <p>过两天开party，都有谁来？</p>
        </div>
    </div>
    <div class="time">5分钟前</div>
    <div class="arrow"></div>
    <div class="chat">
        <p class="friend">苍井空 , 陈冠希 , 杨幂</p>
        <p><span>杨幂：</span>好哇我参加~</p>
        <p><span>苍井空：</span>我带几个姐妹去。</p>
    </div>
</section>