<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scaleable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>开发规范</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../statics/styles/css/quote.css">
    <link rel="stylesheet" href="../statics/styles/css/workShow.css">
</head>

<body>
    <header>
        <div class="h-wrapper">
            <span class="h-domain" id="domain">
                <a href="http://dreamser.com">
                    Dreamser
                </a>
            </span>
            <span class="h-link"><a href="Index/index#workShow">作品展示</a></span>
            <span class="h-link"><a href="Index/index#mobileApp">移动应用</a></span>
            <span class="h-link"><a href="Index/index#moduleDevelop">组件开发</a></span>
            <span class="h-link"><a href="Index/customService">定制服务</a></span>
            <span class="h-link"><a href="Index/specifications">开发规范</a></span>
            <span class="h-link"><a href="Index/about">关于作者</a></span>
            <span class="h-link"><a href="http://blog.dreamser.com">博客</a></span>
        </div>
    </header>
    <nav>
        <div class="navigator">
            开发规范
        </div>
    </nav>
    <div id="wrapper" class="wrapper">
        所有页面引入common.js以及common.css，图标引用font-awesome
    </div>
    <footer>footer</footer>
</body>

</html>