<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DOTA英雄展示</title>
    <link rel="stylesheet" href="__PUBLIC__/style/css/dota.css">
</head>
<body>
    <header>
        <div class="h-wrapper">
            <span class="h-domain">
                <a href="http://dreamser.com">
                    Dreamser
                </a>
            </span>
            <span class="h-link"><a href="#workShow">作品展示</a></span>
            <span class="h-link"><a href="#mobileApp">移动应用</a></span>
            <span class="h-link"><a href="#customService">定制服务</a></span>
            <span class="h-link"><a href="view/contactManager.html">联系作者</a></span>
            <span class="h-link"><a href="view/supportManager.html">支持作者</a></span>
        </div>
    </header>
    <nav>
        <div class="navigator">
            首页
        </div>
    </nav>
    <ul class="heroList">
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/earthshaker_vert.jpg" alt="撼地者"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/sven_vert.jpg" alt="斯温"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/tiny_vert.jpg" alt="小小"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/kunkka_vert.jpg" alt="船长"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/beastmaster_vert.jpg" alt="兽王"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/dragon_knight_vert.jpg" alt="龙骑"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/rattletrap_vert.jpg" alt="发条"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/omniknight_vert.jpg" alt="全能"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/huskar_vert.jpg" alt="哈斯卡"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/alchemist_vert.jpg" alt="炼金"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/brewmaster_vert.jpg" alt="熊猫"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/treant_vert.jpg" alt="大树"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/wisp_vert.jpg" alt="精灵"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/centaur_vert.jpg" alt="人马"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/shredder_vert.jpg" alt="伐木机"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/bristleback_vert.jpg" alt="钢背"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/tusk_vert.jpg" alt="海民"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/elder_titan_vert.jpg" alt="大牛"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/legion_commander_vert.jpg" alt="军团"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/earth_spirit_vert.jpg" alt="土猫"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength1/phoenix_vert.jpg" alt="凤凰"></div></a></li>
    </ul>
    <ul class="heroList">
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/axe_vert.jpg" alt="斧王"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/pudge_vert.jpg" alt="屠夫"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/sand_king_vert.jpg" alt="沙王"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/slardar_vert.jpg" alt="大鱼人"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/tidehunter_vert.jpg" alt="潮汐"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/skeleton_king_vert.jpg" alt="骷髅王"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/life_stealer_vert.jpg" alt="小狗"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/night_stalker_vert.jpg" alt="夜魔"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/doom_bringer_vert.jpg" alt="末日"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/spirit_breaker_vert.jpg" alt="白牛"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/lycan_vert.jpg" alt="狼人"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/chaos_knight_vert.jpg" alt="混沌"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/undying_vert.jpg" alt="尸王"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/magnataur_vert.jpg" alt="猛犸"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/strength2/abaddon_vert.jpg" alt="亚巴顿"></div></a></li>
    </ul>
    <ul class="heroList">
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/antimage_vert.jpg" alt="敌法师"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/drow_ranger_vert.jpg" alt="小黑"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/juggernaut_vert.jpg" alt="剑圣"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/mirana_vert.jpg" alt="白虎"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/morphling_vert.jpg" alt="水人"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/phantom_lancer_vert.jpg" alt="猴子"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/vengefulspirit_vert.jpg" alt="复仇之魂"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/riki_vert.jpg" alt="隐刺"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/sniper_vert.jpg" alt="火枪"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/templar_assassin_vert.jpg" alt="圣堂"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/luna_vert.jpg" alt="月骑"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/bounty_hunter_vert.jpg" alt="赏金"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/ursa_vert.jpg" alt="拍拍熊"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/gyrocopter_vert.jpg" alt="飞机"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/lone_druid_vert.jpg" alt="德鲁伊"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/naga_siren_vert.jpg" alt="小娜迦"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/troll_warlord_vert.jpg" alt="巨魔"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/ember_spirit_vert.jpg" alt="火猫"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility1/arc_warden_vert.jpg" alt="电狗"></div></a></li>
    </ul>
    <ul class="heroList">
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/bloodseeker_vert.jpg" alt="血魔"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/nevermore_vert.jpg" alt="影魔"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/razor_vert.jpg" alt="电棍"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/venomancer_vert.jpg" alt="剧毒"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/faceless_void_vert.jpg" alt="虚空"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/phantom_assassin_vert.jpg" alt="幻刺"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/viper_vert.jpg" alt="毒龙"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/clinkz_vert.jpg" alt="骨弓"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/broodmother_vert.jpg" alt="蜘蛛"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/weaver_vert.jpg" alt="蚂蚁"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/spectre_vert.jpg" alt="幽鬼"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/meepo_vert.jpg" alt="米波"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/nyx_assassin_vert.jpg" alt="小强"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/slark_vert.jpg" alt="小鱼人"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/medusa_vert.jpg" alt="大娜迦"></div></a></li>
       <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/agility2/terrorblade_vert.jpg" alt="魂守"></div></a></li>
    </ul>
    <ul class="heroList">
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/crystal_maiden_vert.jpg" alt="冰女"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/puck_vert.jpg" alt="帕克"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/storm_spirit_vert.jpg" alt="蓝猫"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/windrunner_vert.jpg" alt="风行"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/zuus_vert.jpg" alt="宙斯"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/lina_vert.jpg" alt="火女"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/shadow_shaman_vert.jpg" alt="小Y"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/tinker_vert.jpg" alt="Tinker"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/furion_vert.jpg" alt="先知"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/enchantress_vert.jpg" alt="小鹿"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/jakiro_vert.jpg" alt="双头龙"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/chen_vert.jpg" alt="陈"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/silencer_vert.jpg" alt="沉默"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/ogre_magi_vert.jpg" alt="蓝胖"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/rubick_vert.jpg" alt="拉比克"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/disruptor_vert.jpg" alt="萨尔"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/keeper_of_the_light_vert.jpg" alt="光法"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/skywrath_mage_vert.jpg" alt="天怒"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/oracle_vert.jpg" alt="神谕"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence1/techies_vert.jpg" alt="炸弹人"></div></a></li>
    </ul>
    <ul class="heroList">
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/bane_vert.jpg" alt="痛苦"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/lich_vert.jpg" alt="巫妖"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/lion_vert.jpg" alt="莱恩"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/witch_doctor_vert.jpg" alt="巫医"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/enigma_vert.jpg" alt="谜团"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/necrolyte_vert.jpg" alt="死灵法"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/warlock_vert.jpg" alt="术士"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/queenofpain_vert.jpg" alt="女王"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/death_prophet_vert.jpg" alt="死亡先知"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/pugna_vert.jpg" alt="骨法"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/dazzle_vert.jpg" alt="戴泽"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/leshrac_vert.jpg" alt="老鹿"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/dark_seer_vert.jpg" alt="兔子"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/batrider_vert.jpg" alt="蝙蝠"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/ancient_apparition_vert.jpg" alt="冰魂"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/invoker_vert.jpg" alt="卡尔"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/obsidian_destroyer_vert.jpg" alt="黑鸟"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/shadow_demon_vert.jpg" alt="毒狗"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/visage_vert.jpg" alt="死灵龙"></div></a></li>
        <li><a href="#"><div class="thumbnail"><img src="__PUBLIC__/image/dota/intelligence2/winter_wyvern_vert.jpg" alt="冰龙"></div></a></li>
    </ul>
</body>
</html>