<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>下拉列表—Readme</title>
	<link rel="stylesheet" href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/public-pc.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/module-develop.css">
	<link rel="stylesheet" href="__PUBLIC__/lib/syntaxhighlighter/styles/shCoreFadeToGrey.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/selectList.css">
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shCore.js"></script>
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shBrushXml.js"></script>
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<script src="__PUBLIC__/js/selectList.js"></script>
	<script>SyntaxHighlighter.all();</script>
</head>

<body>

	<header>
        <div class="h-wrapper">
            <span class="h-domain" id="domain">
                <a href="http://dreamser.com">
                    Dreamser
                </a>
            </span>
            <span class="h-link"><a href="__ROOT__/Index/index#workShow">作品展示</a></span>
            <span class="h-link"><a href="__ROOT__/Index/index#mobileApp">移动应用</a></span>
            <span class="h-link"><a href="__ROOT__/Index/index#moduleDevelop">组件开发</a></span>
            <span class="h-link"><a href="__ROOT__/Index/customService">定制服务</a></span>
            <span class="h-link"><a href="__ROOT__/Index/specifications">开发规范</a></span>
            <span class="h-link"><a href="__ROOT__/Index/about">关于作者</a></span>
            <span class="h-link"><a href="http://blog.dreamser.com">博客</a></span>
        </div>
    </header>
    <nav>
        <div class="navigator">
            组件开发->下拉列表
        </div>
    </nav>

	<div class="container">
		<div class="md-title">
			<p class="mdt-title">下拉列表</p>
			<p class="mdt-info">使用js重写html的select标签，方便样式定义，实例中使用了font-awesome的图标字体</p>
			<p class="mdt-info">2016-5-5更新：修改组件定位问题，需要在调用组件的元素的父元素position添加relative或absolute定位</p>
			<p class="mdt-info">2016-5-6更新：修复在table中被其他td、tr遮住的问题</p>
		</div>
		<div class="md-demo">
			<p class="mdd-title">Demo</p>
			<div class="mdd-demo">
				<input  id="time" class="selectList-input" placeholder="请选择" onfocus="selectList(event,['选项一','选项二','选项三'])"><span class="selectList-btn" onclick='getFocus(event)'><i class="fa fa-angle-down"></i></span>
			</div>
		</div>
		<div class="md-code">
			<p class="mdc-title">Code-html</p>
			<div class="mdc-code">
				<pre class="brush:html">
					<input class="selectList-input" placeholder="请选择" onfocus="selectList(event,['选项一','选项二','选项三'])">
					<span class="selectList-btn" onclick='getFocus(event)'><i class="fa fa-angle-down"></i></span></pre>
			</div>
			<p class="mdc-title">Code-js</p>
			<div class="mdc-code">
				<pre class="brush:js">
				    //可以直接在html中绑定事件，也可以在js中绑定 </pre>
			</div>
		</div>
	</div>
	<script>
		var mydate = new Date();
		document.getElementById('time').value = mydate.getFullYear()+'-'+(mydate.getMonth()+1)+'-'+mydate.getDate()+' '+mydate.getHours()+':'+mydate.getMinutes()+':'+mydate.getSeconds();
	</script>

</body>

</html>