<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>分页组件—Readme</title>
	<link rel="stylesheet" href="__PUBLIC__/style/css/public-pc.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/module-develop.css">
	<link rel="stylesheet" href="__PUBLIC__/lib/syntaxhighlighter/styles/shCoreFadeToGrey.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/page.css">
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shCore.js"></script>
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shBrushXml.js"></script>
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<script src="__PUBLIC__/js/page.js"></script>
	<script>SyntaxHighlighter.all();</script>
</head>

<body>

	<header>
        <div class="h-wrapper">
            <span class="h-domain" id="domain">
                <a href="http://dreamser.com">
                    Dreamser
                </a>
            </span>
            <span class="h-link"><a href="Index/index#workShow">作品展示</a></span>
            <span class="h-link"><a href="Index/index#mobileApp">移动应用</a></span>
            <span class="h-link"><a href="Index/index#moduleDevelop">组件开发</a></span>
            <span class="h-link"><a href="Index/customService">定制服务</a></span>
            <span class="h-link"><a href="Index/specifications">开发规范</a></span>
            <span class="h-link"><a href="Index/about">关于作者</a></span>
            <span class="h-link"><a href="http://blog.dreamser.com">博客</a></span>
        </div>
    </header>
    <nav>
        <div class="navigator">
            组件开发->下拉列表
        </div>
    </nav>

	<div class="container">
		<div class="md-title">
			<p class="mdt-title">下拉列表</p>
			<p class="mdt-info">使用js重写html的select标签，方便样式定义，实例中使用了font-awesome的图标字体</p>
		</div>
		<div class="md-demo">
			<p class="mdd-title">Demo</p>
			<div class="mdd-demo">
				<input type="text" onfocus="addressSelector(event)" placeholder="选择地址" redonly='readonly'>
			</div>
		</div>
		<div class="md-code">
			<p class="mdc-title">Code-html</p>
			<div class="mdc-code">
				<pre class="brush:html">
					<input type="text" id="address" onfocus="addressSelector(event)" placeholder="地址选择"></pre>
			</div>
			<p class="mdc-title">Code-js</p>
			<div class="mdc-code">
				<pre class="brush:js">
					var address = document.getElementById('address');
					//获取地址名称
					var addr-name = address.value;
					//获取地址编码
					var addr-code = address.getAttribute('data-code'); </pre>
			</div>
		</div>
	</div>

</body>

</html>