<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>滚动动画</title>
    <link rel="stylesheet" href="../frameworks/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/css/dota.css">
</head>
<body onload="main()">
    <section class="scrollBox box1" id="scrollBox1">
        <div class="test" id="test">
            变大吧
        </div>
    </section>
    <section class="scrollBox box2" id="scrollBox2">2</section>
    <section class="scrollBox box3" id="scrollBox3">
        <div class="text text1">啦</div>
    </section>
</body>
    <script src="../static/scripts/global.js"></script>
    <script src="../static/scripts/dota.js"></script>
    
</html>