header {
  background: #800080;
}
header .h-left {
  color: azure;
}
header .h-middle {
  color: azure;
}
header .h-right {
  color: azure;
}
.loveDays,
.memorialDay {
  width: 100%;
  height: 40px;
  background: #f0f0f0;
  color: #666;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  font-size: 0.8rem;
}
.loveDays #days,
.memorialDay #days,
.loveDays #memorialDay,
.memorialDay #memorialDay {
  color: blueviolet;
}
.timeline {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline li {
  position: relative;
  list-style: none;
  width: 90%;
  margin-left: 5%;
  height: 100px;
}
.timeline li .lineLeft,
.timeline li .lineRight {
  position: absolute;
  width: 120px;
  height: 120px;
}
.timeline li .lineLeft .position,
.timeline li .lineRight .position {
  top: 0;
  position: absolute;
  width: 120px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 0.7rem;
  vertical-align: bottom;
  color: #666;
}
.timeline li .lineLeft .date,
.timeline li .lineRight .date {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 25px;
  text-align: center;
  line-height: 20px;
  font-size: 0.6rem;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  color: #999;
}
.timeline li .lineLeft .cover,
.timeline li .lineRight .cover {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 50px;
}
.timeline li .lineLeft {
  right: 50%;
  margin-right: -1px;
  border-right: 2px solid #ddd;
}
.timeline li .lineLeft .position,
.timeline li .lineLeft .date {
  right: 0;
}
.timeline li .lineLeft .cover {
  right: 25px;
}
.timeline li .lineRight {
  left: 50%;
  margin-left: -1px;
  border-left: 2px solid #ddd;
}
.timeline li .lineRight .position,
.timeline li .lineRight .date {
  left: 0;
}
.timeline li .lineRight .cover {
  left: 25px;
}
.MEDetail .d-position {
  width: 90%;
  margin-left: 5%;
  height: 30px;
  text-align: left;
  font-size: 0.8rem;
  color: #333;
  line-height: 30px;
  vertical-align: middle;
}
.MEDetail .d-date {
  width: 90%;
  margin-left: 5%;
  height: 25px;
  text-align: left;
  font-size: 0.7rem;
  color: #999;
  line-height: 25px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
textarea.eventContent {
  margin-top: 10px;
  width: 90%;
  height: 100px;
  margin-left: 5%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  outline: none;
  resize: none;
  font-size: 0.7rem;
  line-height: 20px;
  vertical-align: middle;
  color: #333;
}
.e-time,
.e-position {
  width: 90%;
  margin-left: 5%;
  height: 30px;
  line-height: 30px;
  font-size: 0.8rem;
  vertical-align: middle;
  color: #ddd;
}
.e-time input,
.e-position input {
  border: none;
  outline: none;
}
.submitBtn {
  margin-top: 20px;
  width: 90%;
  height: 40px;
  font-size: 0.8rem;
  color: #fff;
  margin-left: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -o-border-radius: 5px;
  background: #800080;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}
