<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>干线云图</title>
    <link rel="stylesheet" href="../static/style/css/cloudMap.css">
</head>

<body>

<div class="header"></div>

<div class="map" id="map">
    
</div>

<div class="footer"></div>

</body>
   
   <script src="../static/script/echarts.min.js"></script>
   <script src="../static/script/china.js"></script>
   <script src="../static/script/cloudMap.js"></script>
    
</html>