<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>路线查询</title>
    <link rel="stylesheet" href="../static/style/css/searchRoute.css">
</head>

<body>
    <div class="header">
        <div class="top">
            <div class="top-l"><a href="#" class="blue">首页</a></div>
            <div class="top-l"><a href="#">商家入驻</a></div>
            <div class="top-l"><a href="#">服务热线：0532-55775827</a></div>
            <div class="top-r"><a href="#" class="blue">商家中心</a></div>
            <div class="top-r"><a href="#" class="blue">我的订单</a></div>
            <div class="top-r"><a href="#" class="blue">消息</a></div>
            <div class="top-r"><a href="#">注册</a></div>
            <div class="top-r"><a href="#">登录</a></div>
            <div class="top-r"><a href="#">欢迎来到家哇云平台</a></div>
            <div class="clear"></div>
        </div>
        <div class="logo">
            <div class="logo-l">
                <img src="../static/image/logo.png">
            </div>
            <div class="logo-code">
                <img src="../static/image/erweima_06.png">
            </div>
            <ul class="logo-r">
                <li>
                    <span class="icon"><img src="../static/image/iconfont-peiziiconfont09.png"></span>
                    <span>手机物流-在线查询</span>
                </li>
                <li>
                    <span class="icon"><img src="../static/image/iconfont-xingzhuang19.png"></span>
                    <span>在线咨询</span>
                </li>
                <li>
                    <span class="icon"><img src="../static/image/iconfont-help.png"></span>
                    <span>帮助</span>
                </li>
                <li>
                    <span class="icon"><img src="../static/image/iconfont-jianyi.png"></span>
                    <span>建议</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="nav">
            <ul class="navi">
                <li class="index">首页</li>
                <li>服务查询</li>
                <li>订单中心</li>
                <li>订单跟踪</li>
                <li>报表中心</li>
                <li>会员中心</li>
                <li>如何下单</li>
            </ul>
        </div>
    </div>
    <div id="search" class="search">
        <div class="condition">
            <div class="serviceType">
                <span>服务类型</span>
                <div class="selectBox" id="serviceType">
                    <span id="selected">物流+安装</span>
                    <div class="xlIcon">
                        <img src="../static/image/searchRoute/iconfont-xiala.png">
                    </div>
                </div>
                <ul id="selectList" class="selectList">
                    <li>物流</li>
                    <li>安装</li>
                    <li>物流+安装</li>
                </ul>
            </div>
            <div class="route">
                <span>&nbsp;&nbsp;&nbsp;始发地</span>
                <div class="startP" id="startPlaceBox">
                    <span id="departure">请选择始发地点</span>
                    <div class="pIcon">
                        <img src="../static/image/iconfont-dizhi.png">
                    </div>
                </div>
                <span>&nbsp;&nbsp;&nbsp;目的地</span>
                <div class="startP" id="endPlaceBox">
                    <span id="destination">请选择目的地点</span>
                    <div class="pIcon">
                        <img src="../static/image/iconfont-dizhi.png">
                    </div>
                </div>
                <div class="selectBox" id="selectBox1">
                    <p class="selectTip">请选择始发地点</p>
                    <ul class="selectList" id="popularList"></ul>
                </div>
                <div class="selectBox" id="selectBox2">
                    <p class="selectTip">请选择目的地点</p>
                    <ul class="selectTab" id="selectTab2">
                        <li>省</li>
                        <li>市</li>
                        <li>县区</li>
                    </ul>
                    <ul class="selectList" id="selectList20"></ul>
                    <ul class="selectList" id="selectList21"></ul>
                    <ul class="selectList" id="selectList22"></ul>
                </div>
            </div>
            <div class="searchBtn" id="searchBtn">搜索</div>
        </div>
        <div class="options">
            <fieldset class="checkBoxs" id="checkbox1">
                <span class="c-title">产品类型&nbsp;&nbsp;&nbsp;</span>
                <span id="nolimit1" class="nolimit">&nbsp;不限&nbsp;</span>
                <input id="checkbox11" type="checkbox" name="rt">
                <label for="checkbox11" class="checkLabel">软体&nbsp;</label>
                <input id="checkbox12" type="checkbox" name="bs">
                <label for="checkbox12" class="checkLabel">版式&nbsp;</label>
                <input id="checkbox13" type="checkbox" name="sm">
                <label for="checkbox13" class="checkLabel">实木&nbsp;</label>
<!--
                <input id="checkbox14" type="checkbox" name="dz">
                <label for="checkbox14" class="checkLabel">定制&nbsp;</label>
-->
            </fieldset>
            <fieldset class="checkBoxs" id="checkbox2">
                <span class="c-title">服务要求&nbsp;&nbsp;&nbsp;</span>
                <span id="nolimit2" class="nolimit">&nbsp;不限&nbsp;</span>
                <input id="checkbox21" type="checkbox" name="smth">
                <label for="checkbox21" class="checkLabel">上门提货&nbsp;</label>
                <input id="checkbox22" type="checkbox" name="shsm">
                <label for="checkbox22" class="checkLabel">送货上门&nbsp;</label>
                <input id="checkbox23" type="checkbox" name="shsl">
                <label for="checkbox23" class="checkLabel">送货上楼&nbsp;</label>
                <input id="checkbox24" type="checkbox" name="thaz">
                <label for="checkbox24" class="checkLabel">提货安装&nbsp;</label>
            </fieldset>
            <div class="type">
                <span class="c-title">费用估算&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <div class="goodBox" id="goodsList">
                    <span id="goodSelected">请选择家具类别</span>
                    <div class="xlIcon">
                        <img src="../static/image/searchRoute/iconfont-xiala.png">
                    </div>
                </div>
                <div class="selectBox" id="selectBox3">
                    <p class="selectTip">请选择家具类别</p>
                    <ul class="selectTab" id="selectTab3">
                        <li>二级品类</li>
                        <li>三级品类</li>
                        <li>规格</li>
                    </ul>
                    <ul class="selectList" id="selectList30"></ul>
                    <ul class="selectList" id="selectList31"></ul>
                    <ul class="selectList" id="selectList32"></ul>
                </div>
            </div>
            <div class="inputBoxs">
                <input class="input" id="num" value="1" type="text">&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="input" id="weight" value="150" type="text">&nbsp;公斤&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="input" id="volume" value="1" type="text">&nbsp;立方米&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div id="list" class="list">
        <div class="list-top">
            <span class="tip">&nbsp;&nbsp;&nbsp;&nbsp;综合排序</span>
            <ul id="title" class="title">
                <li class="active">默认排序</li>
                <li>价格</li>
                <li>时效</li>
                <li>成交量</li>
<!--                <li>总费用</li>-->
            </ul>
            <div class="result">
                共筛选出
                <span class="num" id="routeCount">--</span> 条线路方案
            </div>
        </div>
<!--        动态生成路线查询结果列表-->
        <ul id="content"></ul>
        <div class="priceDetailBox" id="priceDetailBox">
            <div class="jiao">
                <img src="../static/image/searchRoute/tanchujiao.png">
            </div>
            <ul class="detailList">
                <li>运输费：￥<span id="transportationPrice">70</span></li>
                <li>配送费：￥<span id="distributionPrice">100</span></li>
                <li>安装费：￥<span id="installationPrice">70</span></li>
                <li>保价费：￥--</li>
                <li>增值费：￥--</li>
            </ul>
        </div>
    </div>
<!--
    <div class="page" id="page">
        <div class="nextpage" id="nextpage">下一页</div>
        <ul id="pages" class="pages">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <div class="prepage" id="prepage">上一页</div>
        <div class="clear"></div>
    </div>
-->
    <div class="footer">
        <ul class="anchor">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">业务全景</a></li>
            <li><a href="#">平台定位</a></li>
            <li><a href="#">干线云图</a></li>
            <li><a href="#">服务查询</a></li>
            <li><a href="#">报名体验</a></li>
            <li><a href="#">创客团队</a></li>
            <li><a href="#">商家中心</a></li>
        </ul>
        <div class="copyright">&copy; 2015-2016 www.jiavva.com 版权所有 浙ICP备15014455号-1</div>
    </div>
</body>
<script src="../static/script/jquery.js"></script>
<script src="../static/script/common.js"></script>
<script src="../static/script/address.js"></script>
<script src="../static/script/goodType.js"></script>
<script src="../static/script/searchRoute.js"></script>

</html>