<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
	<title>关于我们</title>
	<link rel="shortcut icon" href="__PUBLIC__/favicon.ico">
	<link rel="stylesheet" href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/jiavva/public.css">
	<link rel="stylesheet" href="__PUBLIC__/style/jiavva/about.css">
</head>
<body>
	<div class="menu-box">
		<div class="menu-con">
			<div class="logo">
				<img src="__PUBLIC__/image/jiavva//about/about_logo.png">
			</div>
			<span class="menu border-left0 margin-left100"><a class="ptdw">平台定位</a></span>
			<span class="menu"><a class="ywqj">业务全景</a></span>
			<span class="menu"><a class="jwbj">家哇背景</a></span>
			<span class="menu"><a class="cktd">创客团队</a></span>
			<span class="menu"><a class="jwry">家哇荣誉</a></span>
			<span class="menu"><a class="hzhb">合作伙伴</a></span>
			<span class="menu"><a class="jrwm">加入我们</a></span>
			<div class="menu-btn">
				<i class="fa fa-navicon"></i>
			</div>
			<ul class="menu-list">
				<li class="ptdw">平台定位</li>
				<li class="ywqj">业务全景</li>
				<li class="jwbj">家哇背景</li>
				<li class="cktd">创客团队</li>
				<li class="jwry">家哇荣誉</li>
				<li class="hzhb">合作伙伴</li>
				<li class="jrwm">加入我们</li>
			</ul>
		</div>
	</div>
	<div class="pic-box">
		<img src="__PUBLIC__/image/jiavva//about/about_bg.jpg">
	</div>
	<div class="title" id="ptdw">
		<div class="title-con">
			<span class="text1">平台</span>定位
		</div>
		<div class="border1"></div>
		<div class="border2"></div>
		<div class="border2"></div>
		<div class="border1"></div>
	</div>
	<div class="title-sub">一个懂数据的家居物流服务平台</div>
	<div class="pic-box">
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about1.jpg">
		</div>
	</div>
	<div class="pic-box back1">
		<div class="title" id="ywqj">
			<div class="title-con back1">
				<span class="text1">业务</span>全景
			</div>
			<div class="border1"></div>
			<div class="border2"></div>
			<div class="border2"></div>
			<div class="border1"></div>
		</div>
		<div class="title-sub">家居全流程服务体验</div>
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about2.jpg">
		</div>
	</div>
	<div class="title" id="jwbj">
		<div class="title-con">
			<span class="text1">家哇</span>背景
		</div>
		<div class="border1"></div>
		<div class="border2"></div>
		<div class="border2"></div>
		<div class="border1"></div>
	</div>
	<div class="title-sub">一支来自海尔的小蛙</div>
	<div class="pic-box">
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about3.jpg">
		</div>
	</div>
	<div class="title" id="cktd">
		<div class="title-con">
			<span class="text1">创客</span>团队
		</div>
		<div class="border1"></div>
		<div class="border2"></div>
		<div class="border2"></div>
		<div class="border1"></div>
	</div>
	<div class="title-sub">有气质的高颜值创客团队</div>
	<div class="pic-box">
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about4.jpg">
		</div>
	</div>
	<div class="pic-box back2">
		<div class="title" id="jwry">
			<div class="title-con back2">
				<span class="text1">家哇</span>荣誉
			</div>
			<div class="border1"></div>
			<div class="border2"></div>
			<div class="border2"></div>
			<div class="border1"></div>
		</div>
		<div class="title-sub">2015年中国电子商务百强企业</div>
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about5.jpg">
		</div>
	</div>
	<div class="title" id="hzhb">
		<div class="title-con">
			<span class="text1">合作</span>伙伴
		</div>
		<div class="border1"></div>
		<div class="border2"></div>
		<div class="border2"></div>
		<div class="border1"></div>
	</div>
	<div class="title-sub">合作品牌商</div>
	<div class="pic-box">
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about6.jpg">
		</div>
	</div>
	<div class="title-sub">合作服务商</div>
	<div class="pic-box">
		<div class="pic-con">
			<img src="__PUBLIC__/image/jiavva//about/about7.jpg">
		</div>
	</div>
	<div class="title" id="jrwm">
		<div class="title-con">
			<span class="text1">加入</span>我们
		</div>
		<div class="border1"></div>
		<div class="border2"></div>
		<div class="border2"></div>
		<div class="border1"></div>
	</div>
	<div class="title-sub">现在你只需要把简历发给我们</div>
	<div class="recruitment-box">
		<div class="tab active border-left0">
			<span class="icon"><img src="__PUBLIC__/image/jiavva//about/icon_shichang1.png"></span>
			<span class="text">市场调研员</span>
		</div>
		<div class="tab">
			<span class="icon"><img src="__PUBLIC__/image/jiavva//about/icon_yunying.png"></span>
			<span class="text">用户运营</span>
		</div>
		<div class="tab">
			<span class="icon"><img src="__PUBLIC__/image/jiavva//about/icon_pingtaiyunying.png"></span>
			<span class="text">平台运营</span>
		</div>
		<div class="tab">
			<span class="icon"><img src="__PUBLIC__/image/jiavva//about/icon_kefuzhuguan.png"></span>
			<span class="text">客服主管</span>
		</div>
		<div class="tab">
			<span class="icon"><img src="__PUBLIC__/image/jiavva//about/icon_shujufenxi.png"></span>
			<span class="text">数据分析</span>
		</div>
		<div class="recruitment-con" id="recruitment1">
			<p class="con-title">市场调研员</p>
			<div class="con-con">
				<p class="title">岗位职责</p>
				<ul class="text">
					<li>调研目标市场需求，制定市场调研实施策略</li>
					<li>拓展并形成有效的行业调研渠道</li>
					<li>制定家居物流/服务行业调研方案，收集行业、同行动态，深度挖掘，产出报告</li>
					<li>其他市场调研工作</li>
				</ul>
			</div>
			<div class="con-con">
				<p class="title">任职要求</p>
				<ul class="text">
					<li>两年以上统计分析及市场调研相关工作经验，了解家居/物流/服务安装行业者优先</li>
					<li>掌握一定的统计分析及市场调查方法和流程</li>
					<li>擅长使用Excel/Word/PPT等办公软件</li>
					<li>具备敏锐的市场洞察力和分析能力，擅长逻辑分析及沟通交流</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="recruitment-con" id="recruitment2">
			<p class="con-title">用户运营</p>
			<div class="con-con">
				<p class="title">岗位职责</p>
				<ul class="text">
					<li>持续跟进B端客户的需求，持续探索业务增长点，整合内外部各种资源，完善用户体验</li>
					<li>对平台用户转化、用户活跃度负责，从用户生命周期角度运营用户，维护活跃用户、激活沉默用户，针对不同用户类型设计有效激励机制，提升B端用户的活跃度和留存率</li>
					<li>以用户为中心、以数据为导向，制定运营计划，并有效拆解、实施和控制</li>
					<li>以拓展、维护用户为目标，负责活动方案的策划、组织和实施，并对结果负责，进行效果分析</li>
					<li>用户需求收集管理和归类分析，结合业务发展情况，产出对产品和横向业务部门的需求，制定计划并落地执行</li>
				</ul>
			</div>
			<div class="con-con">
				<p class="title">任职要求</p>
				<ul class="text">
					<li>互联网行业2年以上用户运营经验，有B2B和企业服务平台工作经历者优先</li>
					<li>敏锐的市场洞察力和分析判断能力，思维和表达有优秀的逻辑性</li>
					<li>基于用户需求，收集信息及数据，参与到用户运营、制定规则等工作中</li>
					<li>充满创意，优秀的策划包装和价值阐述能力</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="recruitment-con" id="recruitment3">
			<p class="con-title">平台运营</p>
			<div class="con-con">
				<p class="title">岗位职责</p>
				<ul class="text">
					<li>制定平台规则，推送规则、积分规则等，根据数据优化业务规则和平台流程</li>
					<li>通过运营手段，收集平台上的各个角色（品牌方、服务商等）需求，不断完善业务逻辑与流程，优化平台提高人效</li>
					<li>深入了解用户和业务方的痛点，推动后端产品优化和系统流程优化与改善</li>
					<li>优化订单、结算等平台功能，协同相关角色，最终为用户体验及工作效率提升负责</li>
					<li>做好传播、教育、培训工作，达成产品功能的落地</li>
				</ul>
			</div>
			<div class="con-con">
				<p class="title">任职要求</p>
				<ul class="text">
					<li>互联网行业2年以上用户运营经验，有B2B和企业服务平台工作经历者优先</li>
					<li>熟悉后端产品流程，能够根据数据与用户反馈形成需求文档</li>
					<li>具备优秀的沟通能力、项目管理能力</li>
					<li>具备较好的解读和培训能力</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="recruitment-con" id="recruitment4">
			<p class="con-title">客服主管</p>
			<div class="con-con">
				<p class="title">岗位职责</p>
				<ul class="text">
					<li>制定、修改和实施客户服务标准、计划和政策</li>
					<li>优化客服效率，协调内、外部的相关人员解决问题</li>
					<li>负责客服日常工作事务的管理，工作分解、监督执行、业务培训、行为规范等</li>
					<li>日常数据分析，组织编写客服工作报告</li>
					<li>能根据数据和运营经验，向产品部门、运营部门输出建议或需求</li>
				</ul>
			</div>
			<div class="con-con">
				<p class="title">任职要求</p>
				<ul class="text">
					<li>有互联网平台、电商客服经验者优先</li>
					<li>熟练操作办公软件，如excel</li>
					<li>有较强的应变能力、学习能力</li>
					<li>有责任心、耐心</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="recruitment-con" id="recruitment5">
			<p class="con-title">数据分析</p>
			<div class="con-con">
				<p class="title">岗位职责</p>
				<ul class="text">
					<li>日常数据监控及数据预警，异常数据解读挖掘</li>
					<li>基于业务逻辑，建立业务数据模型，为团队制作产品和运营状况的数据报告</li>
					<li>通过数据分析和挖掘手段，为客户的业务运营提供决策支持</li>
					<li>与产品部门紧密配合，提出数据可视化产品需求</li>
				</ul>
			</div>
			<div class="con-con">
				<p class="title">任职要求</p>
				<ul class="text">
					<li>良好的沟通能力和语言表达能力</li>
					<li>熟练使用使用Excel、PPT、MYSQL等工具</li>
					<li>两年以上工作经验，有互联网行业经验者优先</li>
					<li>思维严谨，逻辑性强，对数据敏感</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!-- <div class="joinus-btn">加入我们</div> -->
	</div>
<!-- 	<div class="resume-box">
		<div class="close">
			<img src="__PUBLIC__/image/jiavva//about/close.png">
		</div>
		<div class="pic1">
			<img src="__PUBLIC__/image/jiavva//about/top_txt.png">
		</div>
		<div class="input1">
			姓名：<input type="text">
		</div>
		<div class="input2">
			邮箱：<input type="text">
		</div>
		<div class="input3">
			应聘职位：<input type="text">
		</div>
		<div class="file">
			<input type="file">
		</div>
		<div class="sub-btn">
			提交
		</div>
	</div> -->
	<footer>
		<div class="ft-con">
			<div class="list1">
				<p class="title">联系我们</p>
				<p class="text">电话：0532-55775722</p>
				<p class="text">E-mail：contact@jiavva.com</p>
				<p class="text">地址：山东省青岛市海尔路1号海尔工业园中心大楼703室</p>
				<p class="title">友情链接</p>
				<p class="text"><a href="http://www.kuaidi100.com">快递查询</a></p>
			</div>
			<div class="list2">
				<p class="title">版权声明</p>
				<p class="text">青岛家哇云网络科技有限公司</p>
				<p class="text">&copy;2015-2016 Jiavva.com All Rights Reserved</p>
				<p class="text">浙ICP备15014455号-1</p>
			</div>
			<div class="list3">
				<div><img src="__PUBLIC__/image/jiavva//code.jpg"></div>
				<p class="text text-center">微信扫一扫</p>
				<p class="text text-center">掌握第一手服务资讯</p>
			</div>
		</div>
		<div class="clear"></div>
	</footer>

	<script src="__PUBLIC__/js/lib/jquery-1.12.0/jquery.min.js"></script>
	<script src="__PUBLIC__/js/jiavva/about.js"></script>
</body>
</html>