@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 12px/1.4 "微软雅黑"
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	color: #333;
}
address, cite, dfn, em, var {
	font-style: normal;
}
code, kbd, pre, samp {
	font-family: "微软雅黑"
}
small {
	font-size: 12px;
}
ul, ol, li {
	list-style: none;
}
a {
	color: #333;
	text-decoration: none;
}
.headbox {
	width: 100%;
	overflow: hidden;
	height: 30px;
	border-bottom: 1px solid #ddd;
}
.headbox li a {
	line-height: 30px;
}
.topnav1 {
	float: left;
	margin-left: 30px;
}
.topnav2 {
	float: left;
	margin-left: 30px;
}
.topnav3 {
	float: left;
	margin-left: 30px;
}
.topnav4 {
	float: right;
	margin-right: 30px;
}
.topnav5 {
	float: right;
	margin-right: 30px;
}
.topnav6 {
	float: right;
	margin-right: 30px;
}
.topnav7 {
	float: right;
	margin-right: 30px;
}
.bule {
	color: #0d6eb7;
}
.top {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.logobox {
	float: left;
}
.rightbox {
	width: 615px;
	height: 90px;
	overflow: hidden;
	float: right;
}
.rightbox li {
	float: left;
	display: block;
	margin-left: 20px;
}
.rightbox li span {
	float: left;
}
.rightbox li a {
	font-size: 14px;
	margin-left: 5px;
}
.float01 {
	margin-top: 35px;
}
.float02 {
	margin-top: 5px;
}
.nav {
	width: 100%;
	height: 40px;
	background-color: #5aa7e1;
}
.nav_mid {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
}
.nav_mid li {
	float: left;
}
.nav_mid li a {
	display: block;
	height: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}
.nav_mid li a:hover {
	background-color: #5196ca
}
.first {
	width: 100px;
	background-color: #ffa939;
}
.sec {
	width: 150px;
}
.footer {
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
}
.footer li {
	float: left;
	display: block;
	width: 87px;
	background: url(../images/line1_03.png) no-repeat right center;
}
.footer li a {
	padding: 0 10px;
	font-size: 14px;
}
.dibiao {
	margin-top: 15px;
	line-height: 50px;
	font-size: 14px;
}





































/* CSS Document */
