@charset "utf-8";
/* CSS Document */
.bannerbox {
	background: url(../images/banner1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 370px;
}
.banner {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.searchbox {
	width: 500px;
	height: 270px;
	background-color: #fff;
	margin-top: 50px;
	border-radius: 2px;
}
.topiu {
	width: 500px;
	height: 44px; /*border-bottom:1px solid#ddd;*/
	overflow: hidden
}
.topiu li {
	display: block;
	width: 100px;
	line-height: 45px;
	float: left;
	text-align: center;
}
.topiu li a {
	font-size: 16px;
}
.tu {
	color: #ffa939;
}
.xuanzhong {
	height: 45px;
	background-image: url(../images/images/bag_03.png);
	background-position: bottom;
	background-repeat: no-repeat;
}
.xuanzhong a {
	color: #ffa939;
}
.hujf {
	height: 39px;
	border-bottom: 1px solid #ddd;
}
.gygf {
	height: 39px;
	border-bottom: 1px solid #ddd;
}
.kaishi {
	width: 310px;
	height: 43px;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 16px;
	color: #888;
	line-height: 43px; background-image:url(../img/iconfont-liebiao.png); background-repeat:no-repeat; background-position:right;
}
.shuruyu {
	width: 100%;
	height: 47px;
	margin-top: 25px;
}
.shuruyu span {
	font-size: 18px;
	line-height: 44px;
	margin-left: 55px;
	margin-right: 13px;
	color: #666;
}
.bomyu {
	width: 100%;
	overflow: hidden;
}
.kaishi2 {
	width: 150px;
	height: 35px;
	background-color: #ffa939;
	border-radius: 3px;
	border: 0;
	margin-left: 175px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.kaishi3 {
	width: 145px;
	height: 43px;
	border: 1px solid #ddd;	
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	text-align: left;
	float:left; margin-left:15px; background-image:url(../img/iconfont-liebiao.png); background-repeat:no-repeat; background-position:right;
}
.icontu {
	width: 1200px;
	height: 120px;
	margin: 0px auto;
	background: url(../images/chengnuo_03.png);
	margin-top: 20px;
}
.tuijian {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
}
.tuijian_tit {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #f00;
	margin-bottom: 20px;
}
.tuijian_tit span {
	font-size: 22px;
	color: #666;
	line-height: 45px;
}
.tujians {
	width: 100%;
	overflow: hidden;
}
.tujians li {
	float: left;
	display: block;
	width: 284px;
	height: 103px;
	border: 1px solid #ddd;
	overflow: hidden;
	margin-left: 18px;
}
.tujian_logo {
	float: left;
	margin-top: 4px;
	margin-left: 4px;
}
.tuijian_jieshao {
	float: left;
	margin-left: 20px;
}
.tuijian_jieshao dd {
	line-height: 26px;
}
.tuijian_jieshao span {
	font-size: 16px;
}
.hiu {
	color: #fa3b5b;
	margin-left: 5px;
	font-weight: 700;
}
.tuijian_tit1 {
	width: 100%;
	height: 45px;
	/*border-bottom: 1px solid #fa3b5b;*/
	margin-top: 20px;
}
.tuijian_tit1 span {
	font-size: 22px;
	color: #666;
	line-height: 45px;
}
.xianlu {
	width: 1200px;
	margin: 0 auto;
}
.xuanzhongst {/* border-left:solid 1px #ddd;*/
	border-top: 1px solid #f00;
}
.xuanzhongst a{/* border-left:solid 1px #ddd;*/
color:#F00;
}
.listxuan {
	width: 100%;
	overflow: hidden;
}
.listxuan li {
	display: block;
	width: 200px;
	height: 37px;
	float: left;
	text-align: center;
	line-height: 37px;
}
.listxuan {
	font-size: 16px;
}
.weixuanzhong {
	border: 1px solid #ddd;
	border-right: none;
}
.linee {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-top: 1px solid #fff;
}
.xianlutuijian {
	width: 100%;
	overflow: hidden;
}
.leftxian {
	width: 380px;
	overflow: hidden;
	float: left;
	margin-left: 20PX;
	margin-top: 20px;
	margin-bottom: 20px;
}
.leftxian dd {
	margin-top: 10px;
}
.neirong {
	width: 384px;
	overflow: hidden;
}
.neirong li {
	float: left;
	margin-left: 15px;
}
.neirong li span {
	font-size: 16px;
}
.bred {
	font-weight: 500;
	color: #FFA939;
	margin-right: 5px;
	margin-left: 10px;
}
.tihg {
	margin-left: 10px;
	margin-right: 10px;
}
.w1200 {
	width: 1200px;
	margin: 0 auto;
}
.pinpaiqiang {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.w1200 li {
	width: 218px;
	height: 98px;
	float: left;
	border: 1px solid #ddd;
	margin-left: 25px;
	margin-bottom: 25px;
}
.wuliu {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.hezuo {
	width: 58px;
	height: 58px;
	float: left;
	margin-top: 10px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	color: #666;
}
.hezuo span {
	font-size: 16px;
	font-family: "微软雅黑";
	display: block;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
}
.banner2 {
	width: 1200px;
	height: 140px;
	position: relative;
	overflow: hidden;
	float: left
}
.banner-btn {
	display: none;
}
.banner-btn a {
	display: block;
	line-height: 40px;
	position: absolute;
	top: 190px;
	width: 40px;
	height: 40px;
	background-color: #000;
	opacity: 0.3;
filter:alpha(opacity=30) color: rgb(255, 255, 255);
	overflow: hidden;
	z-index: 4;
}
.prevBtn {
	left: 5px;
}
.nextBtn {
	right: 5px;
}
.banner-img {
	font-size: 0;
*word-spacing:-1px;/* IE6、7 */
	letter-spacing: -3px;
	position: relative;
}
.banner-img li {
	display: inline-block;
*display:inline;
*zoom:1;/* IE6、7 */
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 12px;
}
.banner i {
	background: url(http://gtms01.alicdn.com/tps/i1/T1szNBFzlmXXX8QSDI-400-340.png) no-repeat;
	width: 15px;
	height: 23px;
	cursor: pointer;
	margin: 8px 0 0 12px;
	display: block;
}
.banner .nextBtn i {
	background-position: -200px -24px;
}
.banner .prevBtn i {
	background-position: -200px 0px;
}
.banner-circle {
	position: absolute;
	left: 48%;
	bottom: 15px;
	height: 13px;
	text-align: center;
	font-size: 0;
	border-radius: 10px;
	background: rgba(255,255,255,0.3);
filter:alpha(opacity:30);
}
.banner-circle li {
	border-radius: 10px;
	margin: 2px;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: middle;
	zoom: 1;
}
.banner-circle li a {
	display: block;
	padding-top: 9px;
	width: 9px;
	height: 0;
	border-radius: 50%;
	background: #B7B7B7;
	overflow: hidden;
}
.banner-circle .selected a {
	background: #F40;
}
.contont{ width:100%;overflow:hidden;}
.line{ width:100%; height:1px; background-color:#ddd;}