<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>日历组件—Readme</title>
	<link rel="stylesheet" href="__PUBLIC__/style/css/public-pc.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/module-develop.css">
	<link rel="stylesheet" href="__PUBLIC__/lib/syntaxhighlighter/styles/shCoreFadeToGrey.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css/date.css">
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shCore.js"></script>
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shBrushXml.js"></script>
	<script src="__PUBLIC__/lib/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/js/date.js"></script>
	<script>SyntaxHighlighter.all();</script>
</head>

<body>

	<header>
        <div class="h-wrapper">
            <span class="h-domain" id="domain">
                <a href="http://dreamser.com">
                    Dreamser
                </a>
            </span>
            <span class="h-link"><a href="Index/index#workShow">作品展示</a></span>
            <span class="h-link"><a href="Index/index#mobileApp">移动应用</a></span>
            <span class="h-link"><a href="Index/index#moduleDevelop">组件开发</a></span>
            <span class="h-link"><a href="Index/customService">定制服务</a></span>
            <span class="h-link"><a href="Index/specifications">开发规范</a></span>
            <span class="h-link"><a href="Index/about">关于作者</a></span>
            <span class="h-link"><a href="http://blog.dreamser.com">博客</a></span>
        </div>
    </header>
    <nav>
        <div class="navigator">
            组件开发->日历组件
        </div>
    </nav>

	<div class="container" id="container">
	</div>

</body>

</html>