.displayIBCon {
  *word-spacing: -1px;
  font-size: 0;
}
.displayIBSub {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
}
.displayIB {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
body {
  min-width: 1200px;
}
.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.banner .carou {
  width: 100%;
  height: auto;
  position: relative;
  *word-spacing: -1px;
  font-size: 0;
}
.banner .carou li {
  width: 100%;
  height: auto;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
}
.banner .searchBox {
  position: absolute;
  margin-left: -600px;
  left: 50%;
  top: 50%;
  margin-top: -130px;
  width: 500px;
  height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-image: url(../../image/index/tab_bg.png);
}
.banner .searchBox .searchTab {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.banner .searchBox .searchTab li {
  list-style: none;
  width: 100px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  margin-left: -3px;
  cursor: pointer;
}
.banner .searchBox .searchTab li:first-child {
  margin-left: 30px;
}
.banner .searchBox .searchTab li.active {
  color: #166BAB;
}
.banner .searchBox .searchTab .tabActive {
  position: absolute;
  top: 40px;
  width: 100px;
  height: 7px;
  left: 30px;
}
.banner .searchBox #searchTab0 {
  display: block;
}
.banner .searchBox #searchTab1,
.banner .searchBox #searchTab2 {
  display: none;
}
.banner .searchBox .searchInput {
  width: 400px;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
  color: #fff;
}
.banner .searchBox .searchInput .searchSelect {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  color: #ddd;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  white-space: nowrap;
}
.banner .searchBox .searchInput .searchSelect .input {
  width: 280px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #666;
}
.banner .searchBox .searchInput .searchSelect .searchIcon {
  position: absolute;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15px;
  height: 20px;
  right: 5px;
  top: 10px;
}
.banner .searchBox .searchBtn {
  width: 120px;
  height: 35px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #166BAB;
  color: #fff;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  margin: 20px auto;
  font-size: 16px;
  cursor: pointer;
}
.banner .playBtn {
  position: absolute;
  left: 50%;
  margin-left: 480px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 10;
}
.selectBox {
  width: 310px;
  height: auto;
  font-size: 12px;
  line-height: 25px;
  vertical-align: middle;
  border: 1px solid #ddd;
  background: #fff;
  position: absolute;
  display: none;
  z-index: 100;
}
.selectBox .selectTip {
  height: 25px;
  width: auto;
  padding-left: 5px;
}
.selectBox .selectTab {
  width: auto;
  height: 25px;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}
.selectBox .selectTab li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style: none;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.selectBox .selectTab li.active {
  border-bottom: 1px solid #26b4d3;
  color: #26b4d3;
}
.selectBox .selectList {
  position: relative;
  margin-top: 2px;
  margin-left: 10px;
  width: 290px;
  height: auto;
  background: #fff;
  display: none;
}
.selectBox .selectList li {
  list-style: none;
  height: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 20px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.selectBox .selectList li.tc {
  color: #FFA939;
}
.selectBox .selectList li.activeT {
  background: #26b4d3;
  color: #fff;
}
.videoBoxBack {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.videoBoxBack .videoBox {
  position: absolute;
  top: 50%;
  margin-top: -225px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 450px;
}
.videoBoxBack .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -245px;
  margin-left: 400px;
  cursor: pointer;
}
.servicePic {
  width: 100%;
  height: auto;
  background: #F7F7F7;
  position: relative;
  z-index: -1;
}
.servicePic .con1 {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.servicePic2 {
  width: 100%;
  height: auto;
  background: #fff;
  position: relative;
  z-index: -1;
  border-bottom: 1px solid #ddd;
}
.servicePic2 .con1 {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.serRecommend {
  background: #F1F1F1;
  border-bottom: 1px solid #ddd;
}
.serRecommend .serTitle {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.serRecommend .serCarousel {
  position: relative;
  width: 1100px;
  height: 345px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 50px;
}
.serRecommend .serCarousel .carousel {
  position: absolute;
  width: 2220px;
}
.serRecommend .serCarousel .carousel li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 1093px;
  height: 344px;
  margin-left: 4px;
}
.serPic {
  width: 1200px;
  height: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #ddd;
}
