.displayIBCon {
  *word-spacing: -1px;
  font-size: 0;
}
.displayIBSub {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
}
.displayIB {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
a,
a:hover {
  color: #333;
}
html {
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', arial, sans-serif;
  font-size: 20px;
}
body {
  background: #fff;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
select {
  font-size: .7rem;
  line-height: 25px;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #fff;
}
.clear {
  clear: both;
}
.rilegou {
  *word-spacing: -1px;
  font-size: 0;
  background: #f0f0f0;
  vertical-align: middle;
}
.rilegou .brand,
.rilegou .rank {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
  background: #fff;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  color: #333;
  line-height: 50px;
}
.rilegou .summary {
  width: 100%;
  height: 30px;
  background: #ddd;
  line-height: 30px;
  color: #999;
  font-size: 0.7rem;
  text-align: center;
}
.rilegou .summary .num {
  color: #f00;
}
.rilegou .rilegou-list {
  width: 100%;
  height: auto;
}
.rilegou .rilegou-list li {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 2%;
  margin: 0 auto 10px;
  background: #fff;
}
.rilegou .rilegou-list li .rl-left {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
  width: 73%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  border-bottom: 1px solid #ddd;
}
.rilegou .rilegou-list li .rl-left .l1 {
  width: 55%;
  height: auto;
  float: left;
}
.rilegou .rilegou-list li .rl-left .l1 .l11 {
  font-size: 0.9rem;
  line-height: 30px;
  color: #333;
}
.rilegou .rilegou-list li .rl-left .l1 .l12 {
  font-size: 0.8rem;
  color: #999;
  line-height: 25px;
}
.rilegou .rilegou-list li .rl-left .l2 {
  width: 43%;
  height: auto;
  float: left;
  margin-left: 2%;
}
.rilegou .rilegou-list li .rl-left .l2 .l21 {
  font-size: 0.9rem;
  line-height: 30px;
  color: #333;
  white-space: nowrap;
}
.rilegou .rilegou-list li .rl-left .l2 .l22 {
  font-size: 0.8rem;
  color: #999;
  line-height: 25px;
}
.rilegou .rilegou-list li .rl-left .l2 .l23 {
  font-size: 0.8rem;
  color: #fff;
  line-height: 25px;
  background: #f00;
  text-align: center;
}
.rilegou .rilegou-list li .no-bottom-border {
  border-bottom: none;
}
.rilegou .rilegou-list li .rl-right {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
  width: 23%;
  height: auto;
  font-size: 0.8rem;
  line-height: 30px;
  color: #f00;
}
