<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scaleable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>刘杭のBlog</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style/css/index.css">
</head>

<body onload="movieList()">
    <div class="movieList">
        <ul id="treeList" class="treeList">
            <li class="level1">
                <p class="title-level1">A</p>
                <ul>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">ABP</p>
                            <li class="title-level3 level3">ABP-312</li>
                            <li class="title-level3 level3">ABP-373</li>
                            <li class="title-level3 level3">ABP-377</li>
                            <li class="title-level3 level3">ABP-378</li>
                            <li class="title-level3 level3">ABP-381</li>
                            <li class="title-level3 level3">ABP-382</li>
                            <li class="title-level3 level3">ABP-415</li>
                            <li class="title-level3 level3">ABP-416</li>
                            <li class="title-level3 level3">ABP-417</li>
                            <li class="title-level3 level3">ABP-424</li>
                        </ul>
                    </li>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">AMGZ</p>
                            <li class="title-level3 level3">AMGZ-013</li>
                        </ul>
                    </li>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">AOZ</p>
                            <li class="title-level3 level3">AOZ-224</li>
                        </ul>
                    </li>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">AP</p>
                            <li class="title-level3 level3">AP-228</li>
                        </ul>
                    </li>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">ATID</p>
                            <li class="title-level3 level3">ATID-264</li>
                        </ul>
                    </li>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">AVOP</p>
                            <li class="title-level3 level3">AVP-119</li>
                            <li class="title-level3 level3">AVP-127</li>
                            <li class="title-level3 level3">AVP-149</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="level1">
                <p class="title-level1">B</p>
                <ul>
                    <li class="level2">
                        <ul>
                            <p class="title-level2">Ba</p>
                            <li class="title-level3 level3">Ba1</li>
                            <li class="title-level3 level3">Ba2</li>
                            <li class="title-level3 level3">Ba3</li>
                            <li class="title-level3 level3">Ba4</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div  class="cover"></div>
        <div id="video" class="video">
            <video id="cover"></video>
        </div>
    </div>
</body>

    <script src="../static/scripts/common.js"></script>

</html>