.displayIBCon {
  *word-spacing: -1px;
  font-size: 0;
}
.displayIBSub {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
}
.canvas {
  width: 800px;
  height: 600px;
  margin: 50px;
  border: 1px solid #ddd;
}
