.dsdate {
  width: 235px;
  margin-left: 20px;
  height: auto;
  padding: 10px;
  background: #fff;
  font-size: 0.7rem;
}
.dsdate .week li,
.dsdate .day li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 3px;
  line-height: 30px;
  text-align: center;
}
.dsdate .day li {
  cursor: pointer;
}
.dsdate .day li:hover {
  background: #ffcc33;
  color: #fff;
}
.dsdate .day li.today {
  background: #33ffcc;
  color: #fff;
}
.dsdate .year {
  margin-bottom: 10px;
}
.dsdate .year span {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-left: 2px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}
.dsdate .year input {
  width: 35px;
  height: 16px;
  margin-left: 2px;
  padding: 2px 5px;
  text-align: center;
}
.dsdate .time {
  margin-top: 10px;
  text-align: center;
}
.dsdate .time input {
  width: 55px;
  height: 16px;
  margin-left: 5px;
  padding: 3px 5px;
  text-align: center;
}
.dsdate .time input:first-child {
  margin-left: 0;
}
.dsdate .btns {
  margin-top: 10px;
  text-align: center;
}
.dsdate .btns button {
  width: 70px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffcc33;
  color: #fff;
  border: none;
}
.dsdate .btns button:first-child {
  margin-left: 0;
}
