.dsdate {
  width: 235px;
  height: auto;
  padding: 10px;
  background: #fff;
  font-size: 0.7rem;
  position: absolute;
  z-index: 10;
  border: 1px solid #ddd;
}
.dsdate .week li,
.dsdate .day li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 3px;
  line-height: 30px;
  text-align: center;
}
.dsdate .day li {
  cursor: pointer;
}
.dsdate .day li.active {
  background: #26b4d3;
  color: #fff;
}
.dsdate .day li.today {
  background: #ffcc33;
  color: #fff;
}
.dsdate .year {
  margin-bottom: 10px;
}
.dsdate .year span {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-left: 2px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}
.dsdate .year input {
  width: 35px;
  height: 16px;
  margin-left: 2px;
  padding: 2px 5px;
  text-align: center;
}
.dsdate .time {
  margin-top: 10px;
  text-align: center;
}
.dsdate .time input {
  width: 55px;
  height: 16px;
  margin-left: 5px;
  padding: 3px 5px;
  text-align: center;
}
.dsdate .time input:first-child {
  margin-left: 0;
}
.dsdate .btns {
  margin-top: 10px;
  text-align: center;
}
.dsdate .btns button {
  width: 70px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #26b4d3;
  color: #fff;
  border: none;
}
.dsdate .btns button:first-child {
  margin-left: 0;
}
.dsdate .list-box {
  position: absolute;
  display: none;
  top: 35px;
  left: 0;
  width: 94%;
  padding-left: 5%;
  padding-top: 2px;
  background: #fff;
  z-index: 10;
}
.dsdate .list-box li {
  display: inline-block;
  min-width: 22px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}
.dsdate .list-box li:hover {
  background: #999;
  color: #fff;
}
