.date{
  width: 300px;
  height: auto;
  background: #fff;
  font-size: 0.7rem;
  .weekbox,.day{
    li{
      display: inline-block;
      width: 30px;
      height: 30px;
    }
  }
  .year-month,.time{
    input{
      width: 30px;
      height: 16px;
      padding: 2px 5px;
    }
  }
}