.displayIBCon {
  *word-spacing: -1px;
  font-size: 0;
}
.displayIBSub {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
}
header {
  width: 100%;
  height: 50px;
  background: #333;
  font-size: 0.8rem;
  vertical-align: middle;
  line-height: 50px;
}
header .h-wrapper {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  *word-spacing: -1px;
  font-size: 0;
}
header .h-wrapper .h-domain {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
  width: 200px;
  height: 50px;
  font-size: 1rem;
}
header .h-wrapper .h-domain a {
  color: #aaa;
}
header .h-wrapper .h-domain a:hover {
  color: #ffffff;
}
header .h-wrapper .h-link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: normal;
  width: 100px;
  height: 50px;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: font-size 1s, color 1s, background 1s;
  -o-transition: font-size 1s, color 1s, background 1s;
  -moz-transition: font-size 1s, color 1s, background 1s;
  -webkit-transition: font-size 1s, color 1s, background 1s;
}
header .h-wrapper .h-link a {
  color: #fff;
}
header .h-wrapper .h-link:hover {
  font-size: 1rem;
  background: #fff;
}
header .h-wrapper .h-link:hover a {
  color: #000;
}
header .h-left {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 5px;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  color: #999;
}
header .h-middle {
  position: absolute;
  width: 200px;
  height: 40px;
  line-height: 40px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  color: #f0f0f0;
}
header .h-right {
  position: absolute;
  text-align: right;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 5px;
  line-height: 30px;
  vertical-align: middle;
  color: #999;
}
nav {
  height: 30px;
  background: #f0f0f0;
  width: 100%;
  min-width: 1200px;
  margin-bottom: 10px;
}
nav .navigator {
  width: 1180px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: #999;
  vertical-align: middle;
  font-size: 0.7rem;
}
footer {
  width: 1200px;
  height: auto;
  background: #333;
  margin: 10px auto 0;
  text-align: center;
}
footer .f-copy {
  color: #FFF;
  line-height: 40px;
}
footer .f-record {
  font-size: 0.8rem;
  line-height: 30px;
}
footer .f-record a {
  color: #dddddd;
}
.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  background: #f0f0f0;
}
.container .md-title,
.container .md-demo,
.container .md-code {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.container .md-title .mdt-title,
.container .md-demo .mdt-title,
.container .md-code .mdt-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container .md-title .mdt-info,
.container .md-demo .mdt-info,
.container .md-code .mdt-info {
  font-size: 0.8rem;
}
.container .md-title .mdd-title,
.container .md-demo .mdd-title,
.container .md-code .mdd-title,
.container .md-title .mdc-title,
.container .md-demo .mdc-title,
.container .md-code .mdc-title {
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
