.displayIB {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", arial, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  background: #fff;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
select {
  margin: 0;
  padding: 0;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  background: #fff;
  border-radius: 1px;
  -o-border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border: 1px solid #ddd;
  outline: none;
  display: inline-block;
}
.clear {
  clear: both;
}
header {
  width: 100%;
  height: auto;
  margin: 0;
}
header .top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ddd;
}
header .top .top-l,
header .top .top-r {
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
}
header .top .top-l a,
header .top .top-r a {
  text-decoration: none;
  color: #333;
}
header .top .top-l a.blue,
header .top .top-r a.blue {
  color: #0d6eb7;
}
header .top .top-l {
  float: left;
  margin-left: 30px;
}
header .top .top-r {
  float: right;
  margin-right: 30px;
}
header .logo {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
header .logo .logo-l {
  width: 415px;
  height: 90px;
  float: left;
  margin-left: 0;
}
header .logo .logo-r {
  margin-top: 35px;
  height: 20px;
  float: right;
  margin-right: 50px;
  vertical-align: middle;
}
header .logo .logo-r li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style: none;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
}
header .logo .logo-r li span {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
header .logo .logo-r li span.icon {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
  margin-left: 2px;
}
header .logo .logo-code {
  float: right;
  width: 64px;
  height: 81px;
  margin-top: 5px;
  margin-right: 0;
}
header nav {
  width: 100%;
  height: 40px;
  background: #5aa7e1;
}
header nav .navi {
  width: 1200px;
  margin: 0 auto;
}
header nav .navi li {
  list-style: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 100px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-left: -3px;
}
header nav .navi li.index {
  background: #FFA939;
  margin-left: 0;
}
header nav .navi li:hover {
  background: #5196ca;
}
footer {
  width: 700px;
  margin: 10px auto 20px;
  font-size: 14px;
}
footer .anchor {
  width: 100%;
  margin-bottom: 10px;
}
footer .anchor li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style: none;
  width: 80px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-left: -3px;
  text-align: center;
}
footer .anchor li a {
  color: #333;
  text-decoration: none;
}
footer .anchor li.index {
  margin-left: 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
.banner {
  width: 100%;
  height: 370px;
  background-image: url(../../image/banner.png);
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner .bannerBox {
  width: 1200px;
  margin: 50px auto;
}
.banner .bannerBox .searchBox {
  width: 500px;
  height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
}
.banner .bannerBox .searchBox .searchTab {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.banner .bannerBox .searchBox .searchTab li {
  list-style: none;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  margin-left: -3px;
  cursor: pointer;
}
.banner .bannerBox .searchBox .searchTab li:first-child {
  margin-left: 30px;
}
.banner .bannerBox .searchBox .searchTab li.active {
  color: #FFA939;
}
.banner .bannerBox .searchBox .searchTab .tabActive {
  position: absolute;
  top: 40px;
  width: 100px;
  height: 7px;
  left: 30px;
}
.banner .bannerBox .searchBox #searchTab0 {
  display: block;
}
.banner .bannerBox .searchBox #searchTab1,
.banner .bannerBox .searchBox #searchTab2 {
  display: none;
}
.banner .bannerBox .searchBox .searchInput {
  width: 400px;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
  color: #333;
}
.banner .bannerBox .searchBox .searchInput .searchSelect {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  color: #999;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.banner .bannerBox .searchBox .searchInput .searchSelect .input {
  width: 280px;
  border: none;
  height: 24px;
  outline: none;
}
.banner .bannerBox .searchBox .searchInput .searchSelect .searchIcon {
  position: absolute;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15px;
  height: 20px;
  right: 5px;
  top: 10px;
}
.banner .bannerBox .searchBox .searchBtn {
  width: 120px;
  height: 35px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #FFA939;
  color: #fff;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  margin: 20px auto;
  font-size: 16px;
}
.banner .bannerBox .selectBox {
  width: 310px;
  height: auto;
  font-size: 12px;
  line-height: 25px;
  vertical-align: middle;
  border: 1px solid #ddd;
  background: #fff;
  position: absolute;
  top: 32px;
  left: 87px;
  display: none;
  z-index: 10;
}
.banner .bannerBox .selectBox .selectTip {
  height: 25px;
  width: auto;
  padding-left: 5px;
}
.banner .bannerBox .selectBox .selectTab {
  width: auto;
  height: 25px;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}
.banner .bannerBox .selectBox .selectTab li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style: none;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.banner .bannerBox .selectBox .selectTab li.active {
  border-bottom: 1px solid #26b4d3;
  color: #26b4d3;
}
.banner .bannerBox .selectBox .selectList {
  position: relative;
  margin-top: 2px;
  margin-left: 10px;
  width: 290px;
  height: auto;
  background: #fff;
  display: none;
}
.banner .bannerBox .selectBox .selectList li {
  list-style: none;
  height: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 20px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.banner .bannerBox .selectBox .selectList li.activeT {
  background: #26b4d3;
  color: #fff;
}
